extends layout

block content
  h1= title
  h3 Sensor data
  canvas#sensorsignal(style='width:100%; height:200px')
  h3 Beats per minute
  canvas#bpm(style='width:100%; height:200px')
  #bpmindicator
  h3 Heart rate variability
  canvas#hrv(style='width:100%; height:200px')
  #hrvindicator
  h3 Stress indicator
  .lightcontainer Normal/low stress
    span#green.light
  .lightcontainer Medium stress
    span#yellow.light
  .lightcontainer High stress
    span#red.light
  h3 Status
  #stresslevel
  #disconnection